<h1><%= t('views.common.title_show', name: Comment.model_name.human) %></h1>

<div class="show-item">
  <%= render @comment %>
</div>

<nav class="page-nav">
  <% if @comment.user == current_user %>
    <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_comment_path(@comment) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Comment.model_name.human.downcase)), comments_path %>
  <% if @comment.user == current_user %>
    <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), @comment, method: :delete %>
  <% end %>
</nav>
