<p style="color: green"><%= notice %></p>

<h1><%= Book.model_name.human %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('common.link.show', model: Book.model_name.human), book %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to t('common.link.new', model: Book.model_name.human), new_book_path %>
